
@{
    ViewData["Title"] = "Tasks";
}
@model List<Mission08_ablack00.Models.Task>

<style>
    .quadrant {
        height: 250px;
        width: 40%;
    }
</style>
<div class="d-flex flex-wrap align-items-center justify-content-center mt-5">
    <div class="row" style="border-bottom-style:solid; border-bottom-color:dodgerblue">
        <div class="col quadrant" style="border-right-style:solid; border-right-color:dodgerblue">
            <h4>Quadrant I: Important/Urgent</h4>
            @foreach (var x in Model)
            {
                if (x.Quadrant == 1)
                {
                    <div>
                        <p>
                            @x.TaskName, @x.DueDate.Date
                            <a asp-controller="Home" asp-action="EditTask" asp-route-id="@x.TaskId">Edit</a>
                            <a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a>
                        </p>
                    </div>
                }
                
            }
        </div>
        <div class="col quadrant">
            <h4>Quadrant II: Important/Not Urgent</h4>
            @foreach (var x in Model)
            {
                if (x.Quadrant == 2)
                {
                    <div>
                        <p>
                            @x.TaskName, @x.DueDate.Date
                            <a asp-controller="Home" asp-action="EditTask" asp-route-id="@x.TaskId">Edit</a>
                            <a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a>
                        </p>
                    </div>

                }
            }
        </div>
    </div>
    <div class="row">
        <div class="col quadrant" style="border-right-style:solid; border-right-color:dodgerblue">
            <h4>Quadrant III: Not Important/Urgent</h4>
            @foreach (var x in Model)
            {
                if (x.Quadrant == 3)
                {
                    <div>
                        <p>
                            @x.TaskName, @x.DueDate.Date
                            <a asp-controller="Home" asp-action="EditTask" asp-route-id="@x.TaskId">Edit</a>
                            <a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a>
                        </p>
                    </div>
                }
            }
        </div>
        <div class="col quadrant">
            <h4>Quadrant IV: Not Important/Not Urgent</h4>
            @foreach (var x in Model)
            {
                if (x.Quadrant == 4)
                {
                    <div>
                        <p>
                            @x.TaskName, @x.DueDate.Date
                            <a asp-controller="Home" asp-action="EditTask" asp-route-id="@x.TaskId">Edit</a>
                            <a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a>
                        </p>
                    </div>

                }
            }
        </div>
    </div>

</div>